.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.divDropdown {
  display: flex;
  justify-content: center;
}
.dropdownContainer {
  margin-bottom: 20px;
}

.dropdown {
  padding: 8px;
  font-size: 16px;
}

/* .divTable {
  width: 80%;
} */

.divTableCell {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  word-wrap: break-word; /* Ensure long words or URLs wrap */
  overflow-wrap: break-word; /* Ensure wrapping in modern browsers */
  word-break: break-all; /* Break words at arbitrary points for extremely long text */
  hyphens: auto; /* Adds hyphenation when possible */
  text-align: center;
}
.divDeleteButton {
  display: flex;
  justify-content: center;
}
/* Delete Button */
.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.deleteButton:hover {
  background-color: darkred;
}

.divControls {
  display: flex;
  flex-direction: row;
}
.divHideColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
}
